.title {
    color: rgba(52, 191, 255, 0.8);
    display: flex;
    justify-content: center;
    letter-spacing: 1px;
}

.set-container {
    padding: 10px 20px;
    justify-content: center;
}

.set {
    padding-bottom: 10px;
    justify-content: center;
}
